.home_container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing:border-box;
	flex-direction: column;
}

.home_container p{
	margin: 10px 0px;
	width: 200px;
	text-align: justify;
}


.stock_search{
	width: 200px;
}