.heading{
	margin-top: 10px;
}

.saved_stock{
	margin-top: 20px;
	border: 1px solid lightgrey;
	border-radius: 20px;
	padding: 20px;
	width: 200px;
}

.link {
	color: inherit;
	text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}